<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>로그인 페이지</title>
</head>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<body>
<div class="container">
    <h1>로그인 페이지</h1>
    <hr/>
    <form th:action="|/login|" method="POST">
        <input type="text" name="loginId" placeholder="loginId" class="form-text"/><br/>
        <input type="password" name="password" placeholder="password" class="form-text"><br/>
        <button class="accordion-button">로그인</button>
    </form>
    <a th:href="@{/oauth2/authorization/naver}">네이버 로그인</a><br/>
    <a th:href="@{/memberJoinForm}">회원가입을 아직 하지 않으셨나요?</a>
</div>
</body>
</html>